recursive-include ibid *.py
recursive-include ibid/templates *
recursive-include tracibid *.py
recursive-include contrib *
recursive-include ibid/lib *.py
recursive-include ibid/data *
recursive-include ibid/static *
recursive-include docs *
recursive-include man *
include factpacks/*.json
include factpacks/README
include ibid/*.ini
include ibid/test/test.ini
include twisted/plugins/ibid_plugin.py
include README
include INSTALL
include COPYING
include AUTHORS
