recursive-include ibid *.py
recursive-include ibid/templates *
recursive-include tracibid *.py
recursive-include contrib *
recursive-include ibid/lib *.py
recursive-include ibid/data *
recursive-include docs *
include factpacks/*.json
include ibid/*.ini
include twisted/plugins/ibid_plugin.py
include INSTALL
include COPYING
include README
